body {
    margin: 0;
    padding: 0;
    background: url(./images/bg1.jpg); no-repeat
    background-size: cover;
    background-position: center;
}
nav {
    box-shadow: 0 2px 10px 2px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 13px 100px;
    font-size: 18px;
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
li:hover {
    cursor: pointer;
    color: palevioletred;
}
h3 {
    color: rgb(75, 53, 19);
    text-transform: uppercase;
    font-size: 21px;    
    font-weight: 900;
    maq
}
li {
    color: rgb(12, 12, 58);
}
.container {
    max-width: 80vw;
    margin: 0 auto;
    font-size: large;
}
.container p::first-letter{
    font-size: 50;
    float: left;
}

img {
    width: 100%;
}
footer {
    box-shadow: 0 2px 10px 2px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    font-size: 18px;
    background-color: rgb(2, 2, 17);
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
li:hover {
    cursor: pointer;
    color: wheat;
}
h5 {
    color:antiquewhite;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 900;
}
h4 {
    color: rgb(75, 53, 19);
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 300;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: rgb(75, 53, 19);
}
li {
    color: rgb(46, 44, 98);
}
